.git
.gitignore
.env
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
venv
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.uv-python
*.db
privatecredentials/*
chroma_db
chroma_db_eval
data
datasets
storage
storage_eval
